/* styles.css */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home {
    width: 100%;
	height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    box-sizing: border-box;
}

div.resume {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.73)) , url('./2400x1260_Dockerize-Wordpress-App-2048x1075.avif');
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.titles {
    color: white;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 60px;
    margin-bottom: 8px;
}

h2 {
    font-size: 32px;
    font-weight: 300;
    margin-top: 0;
}

.links {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.links a {
    color: white;
    text-decoration: none;
    width: 200px;
    height: 40px;
    font-size: 19px;
    padding: 10px;
    border-radius: 9px;
    cursor: pointer;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}

i {
    font-size: 33px;
    margin-right: 10px;
}

#svg {
    margin-right: 10px;
    margin-bottom: 9px;
    width: 48px;
}

.wp-btn {
    background-color: #3598dc;
    display: flex;
    align-items: center;
}

.adminer-btn {
    background-color: #4a6baf;
    display: flex;
    align-items: center;
}


.wp-btn:hover, .adminer-btn:hover {
    background-color: #1a5f7b;
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}


.service-cards {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #f4f4f4;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0%;
    color: rgb(44 62 81);
}

.card p {
    font-size: 16px;
    color: #7f8c8d;
    padding-left: 10px;
    margin-top: 10px;
}

.card i {
    font-size: 48px;
    color: #3498db;
    margin-bottom: 8px;
    padding-left: 10px;
}


.portainer-float {
    position: fixed;
    top: 50%;
    background-color: azure;
    right: 0;
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    margin-right: 4px;
    border-radius: 11px 0px;
    background: #13b5ea;
    color: azure;
    text-decoration: none;
    width: 72px;
    height: 147px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
    padding-top: 15px;
    padding-bottom: 0px;
    z-index: 1000;
    transition: all 0.7s ease;
}

.portainer-float span {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

#svg_class {
    width: 24px;
    margin-bottom: 10px;
}

.portainer-float:hover {
    cursor: pointer;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.73));
    transform: translateX(4px);
    transition: all 0.7s ease;
    width: 150px;
}